<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>

      <ion-slide>
        <img src="../../assets/images/introapp.png"/>
        <h2>Welcome to HearthStoneLib</h2>
        <p><b>HearthStoneLib</b> is application to learn skill's card and there are a lot of information about HearthStone </p>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/images/secondintro.png"/>
        <h2>Join Our App</h2>
        <ion-button fill="clear" [href]="['http://localhost:8100/app/tabs/card']">Next to our app<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>

    </ion-slides>
  </ion-content>
</ion-app>
